%h2.text-center Sign up
= bootstrap_form_for(resource, url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-4 ", control_col: "col-sm-4") do |f|
  = devise_error_messages!
  = f.text_field :name, label:"Company name"
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.form_group do
    = f.submit "Sign up", class: "btn-primary"
    %br/
    = render "devise/shared/links"
