.row
  .col-sm-12.col-md-12.col-lg-12
    %h1 Active offers
    - offers_active.each do |offer|
      .col-sm-6.col-md-2.col-lg-2
        .thumbnail.offer
          .caption
            %h3= offer.name
            %p= truncate(offer.description, length: 80, separator: ' ')
            %p
              = button_to "Go to offer", offer_path(offer), class: "btn btn-primary", method: :get

  .col-sm-12.col-md-12.col-lg-12
    %h1 Pending offers
    - offers_pending.each do |offer|
      .col-sm-6.col-md-2.col-lg-2
        .thumbnail.offer
          .caption
            %h3= offer.name
            %p= truncate(offer.description, length: 80, separator: ' ')
            - if offer.codes_exhausted?
              %p No more codes!
            - else
              %p
                Codes used:
                =codes_used offer
            %p
              = button_to "Go to offer", offer_path(offer), class: "btn btn-primary", method: :get
