.jumbotron
  %h1 Listing offers
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th User
        %th Code limit
        %th{:colspan => "3"}
    %tbody
      - offers.each do |offer|
        %tr
          %td= offer.name
          %td= offer.description
          %td= offer.user.name
          %td= offer.code_limit
          %td= link_to 'Show', offer
          - if current_user == offer.user
            %td= link_to 'Edit', edit_offer_path(offer)
            %td= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = button_to "New Offer", new_offer_path, class: "btn btn-primary", method: :get
