.jumbotron  
  %p
    %h3= offer.name
  %p
    %strong Offered by:
    = offer.user.name
  %p
    = offer.description
  %p
    %strong Codes used:
    = offer.codes_used
    \/
    = offer.code_limit
