.jumbotron  
  %p
    %h3= offer.name
  %p
    %strong Offered by:
    = offer.user.present? ? offer.user.name : "Unknown"
  %p= offer.description
  %p
    %strong Codes used:
    %span#js_offer_used= offer.codes_used
    \/
    = offer.code_limit
  %br/

  = render partial: "codes/form"
