%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ data: { target: '#myNavbar', toggle: 'collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "tap-koder", root_path, class: "navbar-brand"
    #myNavbar.collapse.navbar-collapse

      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.glyphicon.glyphicon-log-out 
              Log Out
          %li
            = link_to edit_user_registration_path do
              %i.glyphicon.glyphicon-edit
              Edit account
        - else
          %li= link_to 'Sign up', new_user_registration_path
          %li.divider-vertical
            %li.dropdown
              = link_to '#', {"data-toggle" => 'dropdown'} do
                sign in
                %strong.caret
              .dropdown-menu{:style => "padding: 15px; right:0px; left:auto; width:300px;"}
                = render 'devise/sessions/new'