%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ data: { target: '#myNavbar', toggle: 'collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "tap-koder", root_path, class: "navbar-brand"
    #myNavbar.collapse.navbar-collapse

      %ul.nav.navbar-nav
        - if signed_in?
          %li= link_to "Offers index", offers_path
          %li= link_to "New offer", new_offer_path

      %ul#login.nav.navbar-nav.navbar-right
        - if signed_in?
          %li
            = link_to edit_user_registration_path do
              %i.glyphicon.glyphicon-edit
              Edit account
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.glyphicon.glyphicon-log-out
              Log Out
        - else
          %li= link_to 'Sign up', new_user_registration_path
          %li.button= link_to 'Sign in', new_user_session_path
          %li.divider-vertical
            %li.dropdown.login
              = link_to '#', data: { toggle: 'dropdown' } do
                Sign in
                %strong.caret
              .dropdown-menu
                = render 'devise/sessions/new'
